{% if current and current.temperature_2m %}
{% render "weather_current", current: current, current_units: current_units, location_name: trmnl.plugin_settings.instance_name %}
{% render "weather_hourly_chart", hourly: hourly, current_time: current.time, chart_height: 115 %}
{% render "weather_daily_bars", daily: daily, num_days: 5 %}
{% else %}
<div style="display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; height:410px;">
  <img src="https://bmcdn.nl/assets/weather-icons/v3.0/line/svg/not-available.svg" style="width:96px; height:96px; opacity:0.4;">
  <div class="title" data-pixel-perfect="true" style="margin-top:16px;">No weather data available.</div>
</div>
{% endif %}
{% render "title_bar", plugin_name: trmnl.plugin_settings.instance_name, updated_at: current.time %}
