<div class="flex flex--col flex--stretch-x w--full h--full gap--none">
  {% if current and current.temperature %}
  <div class="flex flex--col flex--stretch-x flex--center-y gap--none" style="flex:1;">
    {% render "weather_current_compact", current: current, icon_size: 48 %}
    <div class="pt--4 pr--1.5 pb--1 pl--2">
      {% render "weather_daily_bars_vertical", daily_entries: daily.entries, num_days: 1, inset_top: 0, current_temp: current.temperature %}
    </div>
  </div>
  {% else %}
  <div class="flex flex--col flex--center-y gap--none" style="flex:1;">
    <img src="https://bmcdn.nl/assets/weather-icons/v3.0/line/svg/not-available.svg" class="w--12 h--12" style="opacity:0.4;">
    <div class="title mt--2" data-pixel-perfect="true">No weather data.</div>
  </div>
  {% endif %}
  <div>
    {% render "title_bar", plugin_name: trmnl.plugin_settings.instance_name, updated_at: current.time, icon_class: current.icon_class %}
  </div>
</div>
